/*timeline에 노래 위치 지정 audio*/
audio{
  /*사이즈별로 위치 지정하기*/
  position: absolute;
  top: 240px;
  left: 0px;  
  width: 100%;
}
.audio-player {
  /*사이즈별로 크기 지정하기 & 중심 맞추기*/
  --space: .5em;
  width: 322px;
  height: 15rem;
}

/*배틀 화면 timeline 첫번째 배틀 음악*/
/*PC*/
.timeline {
    position: relative;
    -webkit-appearance: none;
    top: -24px;
    left: 17px;
    width: 100%;
    height: .5em;
    background-color: #e5e5e5;
    border-radius: 5px;
    background-size: 0% 100%;
    background-image: linear-gradient(#5547C5, #5547C5);
    background-repeat: no-repeat;
}

.timeline_cover {
  position: relative;
  width: 485px;
}
.timeline::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: all .1s;
  background-color: #5547C5;
}

.timeline::-moz-range-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: all .1s;
  background-color: #5547C5;
}

.timeline::-ms-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: all .1s;
  background-color: #5547C5;
}

.timeline::-webkit-slider-thumb:hover {
  background-color: #5547C5;
}

.timeline:hover::-webkit-slider-thumb {
  opacity: 1;
}

.timeline::-moz-range-thumb:hover {
  background-color: #5547C5;
}

.timeline:hover::-moz-range-thumb {
  opacity: 1;
}

.timeline::-ms-thumb:hover {
  background-color: #5547C5;
}

.timeline:hover::-ms-thumb {
  opacity: 1;
}

.timeline::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.timeline::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.timeline::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}



/*배틀 화면 timeline 두번째 배틀 음악*/
.timeline1 {
    position: relative;
    -webkit-appearance: none;
    top: -24px;
    left: 17px;
    width: 100%;
    height: .5em;
    background-color: #e5e5e5;
    border-radius: 5px;
    background-size: 0% 100%;
    background-image: linear-gradient(#5547C5, #5547C5);
    background-repeat: no-repeat;
}

.timeline1::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: all .1s;
  background-color: #5547C5;
}

.timeline1::-moz-range-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: all .1s;
  background-color: #5547C5;
}

.timeline1::-ms-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: all .1s;
  background-color: #5547C5;
}

.timeline1::-webkit-slider-thumb:hover {
  background-color: #5547C5;
}

.timeline1:hover::-webkit-slider-thumb {
  opacity: 1;
}

.timeline1::-moz-range-thumb:hover {
  background-color: #5547C5;
}

.timeline1:hover::-moz-range-thumb {
  opacity: 1;
}

.timeline1::-ms-thumb:hover {
  background-color: #5547C5;
}

.timeline1:hover::-ms-thumb {
  opacity: 1;
}

.timeline1::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.timeline1::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.timeline1::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

@media (max-width: 1023px){
  /*태블릿*/
  .timeline {
    top: -24px;
    left: 25px;
    width: 82%;
    height: .5em;
  }
  .timeline1 {
    top: -24px;
    left: 25px;
    width: 82%;
    height: .5em;
  }
}

@media (max-width: 639px){
  /*모바일*/
  .timeline {
    top: -24px;
    left: 17px;
    width: 63%;
    height: .4em;
  }
  .timeline1 {
    top: -24px;
    left: 17px;
    width: 63%;
    height: .4em;
  }
}